.card {
    border: 1px solid black;
    width: 95vw;
    height: 40vw;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 10px;
    padding: 39px 10px 0px 10px;
  }
  .card1 {
    border: 1px solid black;
    width: 25vw;
    height: 25vw;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
  }
  
  hr  {
    width: 100%;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .body {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    
  }
  
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }