<mat-card class="m-md-5">


<mat-card-header>
  <mat-card-title>Sorting the Deck Of Cards</mat-card-title>
</mat-card-header>
<mat-divider></mat-divider>

 

<mat-card-content>
  <div class="row p-3 justify-content-sm-center justify-content-sm-end">
    <mat-form-field appearance="fill">
      <mat-label>Select Cards</mat-label>
      <div>
      <mat-select [formControl]="cardForm" multiple>
        <mat-option *ngFor="let deckOfCard of deckOfCardList" [value]="deckOfCard" (onSelectionChange)="onSelect($event)">{{deckOfCard}}</mat-option>
      </mat-select>
    </div>
    </mat-form-field>
  </div>
</mat-card-content>
<div class="button">
  <mat-spinner *ngIf="showSpinner"></mat-spinner>
  <div *ngIf="!showSpinner">
    <button mat-raised-button color="primary" [disabled]="selectedCards.length == 0" (click)="onSubmit()">Submit</button>
  </div>
  <div *ngIf="!showSpinner">
    <button mat-raised-button color="primary" [disabled]="selectedCardsString.length == 0" (click)="onReset()">Try Again</button>

  </div>

</div>

  <div *ngIf="!showSpinner">
    <h3>Selected Cards from Deck :<b>{{selectedCardsString}}</b> </h3>
<br>
<h3>Sorted Cards :  <b>{{sortedCards}}</b></h3>
  </div>


</mat-card>


