<!-- 
    <div class="card">
        <div class="header">
          <h2>My Headline</h2>
        </div>
        <hr>
        <div class="body">
          <select>
            <option *ngFor="let arr of arrayCards" [value]="arr"></option>
          </select>
             
          <p>
          </p>
          <ng-content></ng-content>
        </div>
        <hr>
        <div class="footer">
          <div>My Footer 2</div>
      </div>
      
</div> -->
<mat-form-field appearance="fill">
  <mat-label>Select Cards</mat-label>
  <mat-select [formControl]="toppings" multiple>
    <mat-option *ngFor="let deckOfCard of deckOfCardList" [value]="deckOfCard" (onSelectionChange)="onSelect($event)">{{deckOfCard}}</mat-option>
  </mat-select>

</mat-form-field>
<button type="button" (click)="onSubmit()">Submit</button>
<br>

Show Sorted Deck Of Card {{sortedCards}}


